<footer class="footer">
  <div>
    <h1>Mood Magic, Copyright &copy; 2024</h1>
    <a href="mailto:your@email.com"><i class="fas fa-envelope"></i> Email</a>
    <a href="https://twitter.com/your_twitter"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="https://linkedin.com/in/your_linkedin"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/your_github"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://discord.gg/your_discord"><i class="fab fa-discord"></i> Discord</a>
</div>