<style>
.footer{
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}
.footer div{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
 .footer div h1, .footer div a {
    display: inline-flex;
    align-items: center;
}
.footer div h1{
    flex: 1;
    font-size: 24px;
    padding: 0;
   margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.footer div a{
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.footer div a i {
    padding: 2px 8px 0 0;
}
.footer div a:hover {
    color: #eaebed;
}
</style>
<footer class="footer">
  <div>
    <h1>Mood Magic, Copyright &copy; 2024</h1>
    <a href="mailto:nevileneivanny@gmail.com"><i class="fas fa-envelope"></i> Email</a>
    <a href="https://twitter.com/Neivanny_N"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="https://linkedin.com/in/eric-mwakazi"><i class="fab fa-linkedin"></i> LinkedIn</a>
    <a href="https://github.com/neivanny1"><i class="fab fa-github"></i> GitHub</a>
    <a href="https://discord.gg/broccoli346"><i class="fab fa-discord"></i> Discord</a>
</div>